extends layout
block scripts
	link(rel='stylesheet' type="text/css" href='/stylesheets/bootstrap-select.min.css')
	script(type='text/javascript', src='/javascripts/bootstrap-select.min.js')
block content
	h1 Hacer epígrafes.
	h4 Rellene los temas de trabajo que deberán de ser tratados y asignados descentralizada y libremente por los compañeros.
	p Seleccione la asignatura para la que quiera incluir los epígrafes, y después rellene la lista de ellos. Durante este proceos deberá tener cuidado con ciertos aspectos, así que, por favor lea atentamente las instrucciones que aparecerán la pasar el cursor por encima de cada botón.
	div.row
		form#form-to-epigraphs.make-appendix-form.col-sm-8.col-sm-offset-2(role="form" action="/make_epigraphs.html" method="POST")
			select#subject-select.selectpicker(name="subject")
				optgroup(label="1ºCurso")
					option Lógica y Est. Disc.
					option Fun. Matemáticos
					option Fun. Sis. Digitales
					option Fun. Físicos
					option Fun. Programación
					option Est. Programación Est. Datos
					option Ing. Computadores I
					option Estadística
					option Autómatas, Gr. y Lenguajes
					option Prog. Orientada a Objetos
				optgroup(label="2ºCurso")
					option Redes y Comunicaciones
					option Prog. Est. Datos Avanzadas
					option Ing. Computadores II
					option Gestión Empresas Inf.
					option Sistemas Operativos
					option Diseño Aplicaciones O.O.
					option Leng. Programación Procesadores
					option Fun. Inteligencia Artificial
					option Int. Ingeniería Software
					option Bases de Datos 
				optgroup(label="3ºCurso")
					option Ampliación Sis. Operativos
					option Aplicaciones Distribuidas
					option Calidad del Software
					option Gestión de Bases de Datos
					option Procesamiento Paralelo 
					option Sistemas de Información de las Organizaciones
					option Procesos y Herramientas de Gestión de la Seguridad de Redes
					option Consultoría y Auditoría
					option Tecnologías WEB
				optgroup(label="4ºCurso")
					option Ing. Gestión del Conocimiento
					option Ing. Factores Humanos
					option Tecnologías Integrativas
					option Ética y Legislación
					option Gestión de Procesos
			div.epigraph-subject(data-type="clonable")
				div.row#epigraph-row-container
				div.row
					div.col-lg-6
						div.input-group
							input#add-epigraph-input.form-control(type="text" name="epigraph[]" placeholder="Nuevo epígrafe")
							span.input-group-btn
								button#add-epigraph-button.btn.btn-success(type="button")
									span.glyphicon.glyphicon-plus
			input#deallocate.hidden(type="text" name="deallocate")
			button#deallocate-epigraphs-button.btn.btn-danger.btn-right-margin(type="submit" data-submit-make="true" data-deallocate="deallocate.html" data-toggle="tooltip" data-placement="top" title="No tiene en cuenta la lista. Puedes borrar elementos o añadir nuevos, pero si aprietas este botón lo único que hará será eliminar las asignaciones de los epígrafes de la asignatura indicada, haciendo caso omiso de las modificaciones en la lista.") Deasignar
			button#send-epigraphs-button.btn.btn-warning.btn-right-margin(type="submit" data-submit-make="true" data-url-form="remake_epigraphs.html" data-toggle="tooltip" data-placement="top" title="Los elementos de la lista serán enviados al servidor y las modificaciones serán guardadas. Pero, además, se eliminarán las asignaciones anteriores de los epígrafes") Modificar
			button#deallocate-modify-epigraphs-button.btn.btn-success.btn-right-margin(type="submit" data-submit-make="true" data-deallocate="remake_epigraphs_not_deallocate.html" data-toggle="tooltip" data-placement="top" title="Envía la lista que está siendo modificanda y si alguno de los epígrafes de esta lista ya existiera en la base de datos, respetaría las asignaciones. Por otra parte, si hay elementos nuevos serán almacenados sin asignar, y los elementos eliminados de la lista, también serán eliminados de la base de datos.") Desasignar modificados
			button#reset-add-epigraph.btn.btn-info.btn-right-margin(type="button" data-toggle="tooltip" data-placement="top" title="Si modificas las lista, pero después quieres volver al estado original de ésta y hacer como que nada de eso hubiese ocurrido, ésta es tu opción.") Resetear